<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <!-- structural directives -->
      <!-- generate 'li' tag per member in members list -->
      <li *ngFor="let member of members">{{member}}</li>
    </ul>
    <div class="add-members-container">
      <!-- attribute directive -->
      <!-- update the attribute using [] -->
      <input 
        #addMemberInput
        type="text"
        placeholder="name"
        (input)="onNameInput(addMemberInput.value)"
        [value]="newMemberName" 
      >
      <button (click)="addMember()">Add</button>
    </div>
    <div class="input-container">
      <input 
        #teamNumberInput
        type="text" 
        placeholder="# of team"
        (input)="onTeamInput(teamNumberInput.value)"
        [value]="teamNumber"
        >
      <button (click)="generateTeams()">Generate</button>
    </div>
    
    <div>
      <p *ngIf="errorMessage" class="error-msg">{{errorMessage}}</p>
    </div>

    <div *ngIf="teams.length" class="teams-container">
      <app-team 
        *ngFor="let team of teams; let i = index"
        [team] = "team"
        [index]="i"
        >
      </app-team>

    </div>
  </div>
</div>